.navbar-container {
  background: linear-gradient(131deg, rgb(1, 104, 136) 0%, rgb(0, 129, 168) 100%);
  padding: 15px 20px;
  text-align: center; 
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 60px;
  height: 50px;
  margin-right: 10px; 
}

.navbar-brand {
  color: #fff;
  font-size: 1.5em;
  margin: 0 15px;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.Link:hover {
  color: rgb(73, 206, 243);
  text-shadow: 10px 0 10px rgba(255, 255, 255, 0.4);
}

.Link {
  text-decoration: none;
  color: white;
}


.phrase {
  text-align: center;
  padding: 5px;
  background-color: #ffc107;
  color: white; 
  font-size: 18px;
}