/* Estilos del navbar */
.navbar-container {
  background: linear-gradient(131deg, rgba(0,86,111,1) 0%, rgba(0,86,111,1) 100%);
  padding: 15px 20px;
  text-align: center; /* Centrar todo el contenido horizontalmente */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 60px;
  height: 50px;
  margin-right: 10px; /* Ajustar según sea necesario */
}

.navbar-brand {
  color: #fff;
  font-size: 1.5em;
  margin: 0 15px;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #00c6ff;
  text-shadow: 10px 0 10px rgba(255, 255, 255, 0.4);
}

/* Estilos para la frase debajo del navbar */
.phrase {
  text-align: center;
  padding: 5px;
  background-color: #00b3b4; 
  color: white; 
  font-size: 18px;
}